<div class="container">
  <div class="row" [@goals]="goals.length">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">  
          Add a goal
        </div>
        <div class="card-body">
          <form (ngSubmit)="addItem()" #todoForm="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" id="title" placeholder="Title" #title="ngModel" [(ngModel)]="goalText" required/>
              <div [hidden]="title.valid || title.pristine" class="alert alert-danger">Please enter a goal</div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" name="description" id="description" placeholder="Enter your goal" #description="ngModel" [(ngModel)]="goalText" required/>
              <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Please add a description</div>
            </div>
            <div class="form-group">
              <label for="completionDate">Specify a completion date</label>
              <input type="text" class="form-control" name="completionDate" id="completionDate" placeholder="Enter a completion date" #completionDate="ngModel" [(ngModel)]="goalText" required/>
              <div [hidden]="completionDate.valid || completionDate.pristine" class="alert alert-danger">Please enter a completion date</div>
            </div>
            <div class="form-group">
              <label for="estimatedBudget">Estimeted budget</label>
              <input type="text" class="form-control" name="item" id="estimatedBudget" placeholder="Enter your goal" #estimatedBudget="ngModel" [(ngModel)]="goalText" required/>
              <div [hidden]="estimatedBudget.valid || estimatedBudget.pristine" class="alert alert-danger">Please enter a goal</div>
            </div>
            <input type="submit" [disabled]="!todoForm.form.valid" class="btn btn-success" [value]="btnText"/>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Your Bucket List
          </div>
          <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">{{goal}} <a class="float-right">x</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
